SiteCore/Presentation/SiteCore.UI.Process/Service References/SubscriberService/SubscriberService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54406/SubscriberService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SiteCore.Business.Entities" />
  <xs:element name="AddSubscriber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SiteCore.Business.Entities" minOccurs="0" name="subscriber" nillable="true" type="q1:Subscriber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubscriberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSubscriberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSubscriber">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSubscriberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SiteCore.Business.Entities" minOccurs="0" name="ListSubscriberResult" nillable="true" type="q2:ArrayOfSubscriber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>