SiteCore/Presentation/SiteCore.UI.Process/Service References/SubscriberService/SubscriberService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SiteCore.Business.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SiteCore.Business.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Subscriber">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="SubID" type="xs:int" />
      <xs:element minOccurs="0" name="SubscribeDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TerminateDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Subscriber" nillable="true" type="tns:Subscriber" />
  <xs:complexType name="ArrayOfSubscriber">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Subscriber" nillable="true" type="tns:Subscriber" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubscriber" nillable="true" type="tns:ArrayOfSubscriber" />
</xs:schema>