SiteCore/Presentation/SiteCore.UI.Process/Service References/SubscriberService/SubscriberService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SubscriberService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54406/SubscriberService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54406/SubscriberService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SiteCore.Services.Contracts" />
      <xsd:import schemaLocation="http://localhost:54406/SubscriberService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54406/SubscriberService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SiteCore.Business.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISubscriberService_AddSubscriber_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSubscriber" />
  </wsdl:message>
  <wsdl:message name="ISubscriberService_AddSubscriber_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSubscriberResponse" />
  </wsdl:message>
  <wsdl:message name="ISubscriberService_AddSubscriber_ProcessExecutionFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/SiteCore.Services.Contracts" name="detail" element="q1:ProcessExecutionFault" />
  </wsdl:message>
  <wsdl:message name="ISubscriberService_ListSubscriber_InputMessage">
    <wsdl:part name="parameters" element="tns:ListSubscriber" />
  </wsdl:message>
  <wsdl:message name="ISubscriberService_ListSubscriber_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListSubscriberResponse" />
  </wsdl:message>
  <wsdl:message name="ISubscriberService_ListSubscriber_ProcessExecutionFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/SiteCore.Services.Contracts" name="detail" element="q2:ProcessExecutionFault" />
  </wsdl:message>
  <wsdl:portType name="ISubscriberService">
    <wsdl:operation name="AddSubscriber">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriberService/AddSubscriber" message="tns:ISubscriberService_AddSubscriber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriberService/AddSubscriberResponse" message="tns:ISubscriberService_AddSubscriber_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISubscriberService/AddSubscriberProcessExecutionFaultFault" name="ProcessExecutionFaultFault" message="tns:ISubscriberService_AddSubscriber_ProcessExecutionFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListSubscriber">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriberService/ListSubscriber" message="tns:ISubscriberService_ListSubscriber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriberService/ListSubscriberResponse" message="tns:ISubscriberService_ListSubscriber_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISubscriberService/ListSubscriberProcessExecutionFaultFault" name="ProcessExecutionFaultFault" message="tns:ISubscriberService_ListSubscriber_ProcessExecutionFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="webHttpSubscriberService" type="tns:ISubscriberService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddSubscriber">
      <soap:operation soapAction="http://tempuri.org/ISubscriberService/AddSubscriber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProcessExecutionFaultFault">
        <soap:fault use="literal" name="ProcessExecutionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListSubscriber">
      <soap:operation soapAction="http://tempuri.org/ISubscriberService/ListSubscriber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ProcessExecutionFaultFault">
        <soap:fault use="literal" name="ProcessExecutionFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubscriberService">
    <wsdl:port name="webHttpSubscriberService" binding="tns:webHttpSubscriberService">
      <soap:address location="http://localhost:54406/SubscriberService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>